<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nurjigit.0808gmail.com/Desktop/DRT/SummerSDET2023">
             <classes>
            <class name="com.digital.Main">
                <methods>
                   <exclude name=""></exclude>
                </methods>
            </class>

    </classes>
</test>
        </suite>